body {
  margin: 0px;
  padding: 1px;
}

body * {
  text-align: center;
}

div {
  width: 100%;
  /* display: flex; */
  text-align: center;
  height: fit-content;
  unicode-bidi: isolate;

}

.product {
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: row;
  background-color: blue;
}

ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-block: 0px;
  margin-inline: 0px;
  /* padding-inline: 0px; */
}

.menuItem {
  height: 60px;
  display: flex;
  text-decoration-style: none;
  text-align: center;

}

a {
  width: fit-content;
  height: 60px;
   width: 100%; 
  /* height: fit-content; */ 
  text-decoration: none;
  color: rgb(100, 100, 100);
  padding: 20px;
  margin: auto;
}

a:hover {
  background-color: rgb(204, 221, 249);
  margin-left: 53px;

}

.pay{
  height: 60px;
  padding: 5px;
}
