body {
  margin: 0px;
  padding: 1px;
}

body * {
  text-align: center;
}

.logo {
  height: 90px;
  width:90px;
}
div {
  width: 100%;
  text-align: center;
  height: fit-content;
  unicode-bidi: isolate;

}

.product {
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: row;
  background-color: blue;
}

ul {
  display: flex;
}

.menuItem {
  height: 60px;
  display: flex;
  text-decoration-style: none;
  text-align: center;

}

a {
  width: fit-content;
  height: 60px;
  width: 100%; 
  text-decoration: none;
  color: rgb(100, 100, 100);
  padding: 20px;
  margin: auto;
}

.menuItem:hover {
  background-color: rgb(204, 221, 249);
  margin-left: 3px;

}

.pay{
  height: 60px;
  padding: 5px;
}
