
#content{
    width:1800px;
    height: 950px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    
} 
.item{
    width:10%;
    height: 10%;
    border: 1px solid black;
    
}

.img{
    width:80%;
    height: 80%;
}