
#content{
    width:1800px;
    height: 950px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 200px; 
    
} 
.item{
    width:20%;
    height: 20%;
    border: 1px solid black;
    
}

.img{
    width:80%;
    height: 80%;
}