@media (max-width:371) {
    
}
@media (max-width:596) {
    
}
@media (max-width:769) {
    
}
@media (max-width:831) {
    
}
@media (min-width:831) {
    
}

.sidebar{
    width: 300px ;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding:0px 0px 0px 30px;
    background-color: rgb(255, 233, 208);
    border-left: 1px rgb(100, 100, 100) solid;
}

.navbar{
    
    height: fit-content;
    padding: 30px 0px;
    border-bottom: 1px rgb(100, 100, 100) solid ;

}

ul{
    flex-direction: column;
    
}

.menuItem{
    margin: 0px;
}